/************************* DÙNG CHO 2 TRANG DangKy.html & TacGiaDangKy.html *********************************/

.thanhbar {
    background-color: #2f2f2f;
    opacity: 1;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.carousel,
.item,
.active {
    height: 100%;
    position: relative;
}

.carousel-inner {
    height: 100%;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

class-form {
    margin-top: auto;
}


/********************* KHUNG DANG NHAP********************************/

.dangnhap {
    position: absolute;
    top: 10%;
    right: 0;
    border: 1;
    width: 100%;
    text-align: center;
}

.forgotpass {
    color: white;
    position: absolute;
    top: 110%;
    right: 26%
    
}

a.fotgotpass:hover {
    color: black;
}

.link a {
    color: whitesmoke;
}

.link a:hover {
    color: whitesmoke;
}


/************************FORM DANG KY************************************/

.form-horizontal .form-group {
    width: 40%;
    position: relative;
    left: 30%;
}

.form-horizontal .form-group input {
    width: 65%;
    float: left;
    margin-left: .5%;
}

.help-block {
    position: relative;
    right: 18%;
}

.errorDiv {
    position: fixed;
    margin-left: 50%;
    background-color: #cc2926;
    color: white;
    border-radius: 10px;
    padding-top: 8px;
    padding-right: 20px;
}