body {
}

.modal-backdrop.in {
    z-index: 0;
}

#logoutLi:hover {
    text-decoration: none;
    background-color: #f2f2f2;
}

#BookTag_chosen {
    /*display: none;*/
}

#AuthorTag_chosen {
    display: none;
}