@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
img {
    -o-object-fit: cover;
    object-fit: cover;
}

.nav-space {
    width: 20%;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
     background-color: #2f2f2f;
}
/* Set chiều cao của trang */

.row.content {
    height: auto;
    width: auto;
}
/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: auto;
}
/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}
#nhom {
    background-color: #F15F66;
    color: white;
    width: 100%;
}

#tacgia {
    color: brown;
}

#tensach {
    /*mấy cái dùng đi dùng lại nhiều lần để css thế này thì nên chuyecẻn qua dùng class, không dùng id, id chỉ nên dùng cho js thôi. OK*/
    color: black;
}



.button {
    border-radius: 8px;
    color: black;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
}

.buttonRe {
    border-radius: 8px;
}

#star {
    color: #FFD951;
    border: 1;
}

.buttonFo {
    border-radius: 8px;
    background-color: #921622;
}

.list-group {}

.list-group li {
    list-style: none;
}

.list-group li span {
    width: calc(100% - 20px);
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.list-group span {
    width: calc(100% - 20px);
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}


/*********************************** POST *************************************************/

.post-card {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.write-post {
    width: calc(100% - 2px);
    padding: 10px;
    margin: 2px;
    border: none;
    resize: none;
    outline: none;
}

.stt-card {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.divider-horizontal {
    height: 1px;
    width: 98%;
    float: bottom;
    opacity: 0.2;
    border-bottom: 1px solid gray;
    margin: 5px 0px;
    margin-left: 1%;
}

.list-book-tag {
    -webkit-padding-start: 0px;
}

.list-book-tag li {
    list-style: none;
    display: inline;
    background-color: aquamarine;
    /* tu chookn mau lai nheok*/
    padding: 5px 10px;
    border: 1px solid #c2c4c6;
    border-radius: 5px;
    /* tu custom tiep cay ni nha*/
}

.owner-avatar,
.owner-info {
    float: left;
}

.owner-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ccc;
    /* tu chon mau */
    -o-object-fit: cover;
    object-fit: cover;
}

.owner-info {
    width: calc(100% - 50px);
    padding-left: 10px;
    margin-top: 5px;
}

.owner-name {
    font-weight: bold;
    color: #000;
    /* tu chon mau */
    font-size: 16px;
}

.post-time {
    font-weight: normal;
}

.post-time i {
    margin-right: 5px;
}

.post-content {
    margin-top: 5px;
}

.book-tag-list-in-post {
    -webkit-padding-start: 0px;
    margin-bottom: 0;
}

.book-tag-list-in-post li {
    font-size: 12px;
    background-color: aquamarine;
    /*tu chon mau */
    padding: 2px 8px;
    margin-right: 5px;
    display: inline;
    border-radius: 3px;
    list-style: none;

}

.interaction-list {
    -webkit-padding-start: 0px;
    margin-bottom: 0;
}

.interaction-list li {
    list-style: none;
    display: inline;
}

.interaction-list li button {
    background-color: transparent;
    color: #8c8c8c;
    border: none;
}

.interaction-list li button i {
    margin-right: 3px;
}

.nav-tabs {
    position: absolute;
    left: 18.2%;
    bottom: 32.2%;
    width: 81.8%;
}

.nav-tabs li {
    background-color: ghostwhite;
    text-align: center;
    width: 15%;
}

.nav-tabs li.active {
    text-decoration: underline;
    font-weight: bold;
}

.pills {
    width: 80%;
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    top: 75%;
    left: 10%;
}

.pills a {
    text-align: center;
}

.pills li.x{
    background-color: ghostwhite;
    width: 170px;
    margin-right: 2px;
    position: relative;
    left: -15px;
}

.pills li.x.active {
    text-decoration: underline;
    font-weight: bold;
}

.tennhom {
    position: absolute;
    left: 20%;
    top: 50%;
    font-size: 25px;
}

.tennhom b {
    color: white;
}

.grouptag {
    position: relative;
    left: 270px;
    top: -30px;
    color: whitesmoke;
    font-size: 120%;
}


/*********************************** AVATR & COVER ***********************************************/

.cover {
    position: relative;
}

.cover-img {
    width: 100%;
    height: 350px;
}

.avatar {
    position: absolute;
    left: 30px;
    bottom: 10px;
}

.avatar .avatar-img {
    width: 200px;
    height: 200px;
    background-color: white;
}

.cover-interaction {
    position: absolute;
    right: 10%;
    bottom: 16%;
    text-align: center;
}

.change-cover {
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: right;
    width: 13%;
    display: none;
    -webkit-transition: display .5s;
    transition: display .5s;
}

.change-cover .change-cover-button {
    border: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
}

.change-avatar {
    position: absolute;
    bottom: 0px;
    text-align: left;
    width: 100%;
    display: none;
    -webkit-transition: display .5s;
    transition: display .5s;
}

.change-avatar .change-avatar-button {
    border: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
}

.avatar-cover:hover .change-cover {
    display: block;
}

.avatar-cover:hover .change-avatar {
    display: block;
}

/*****************************BUTTON POST************************/
#buttonPost {
    color: white;
    background-color: #224A86;
  
}
#buttonCancel{
    color: black;
}
/*************************DANH SÁCH THÀNH VIÊN************************/

.listthanhvien,
.listadmin {
    background-color: whitesmoke;
    width: 100%;
    height: 100;
    position: absolute;
    left: 0%;
    border: 1px solid orange;
}

.listavatar,
.listcover {
    background-color: whitesmoke;
    padding-left: 40px;
    width: 100%;
    height: 100;
    position: absolute;
    left: 0%;
    border: 1px solid orange;
}

.avatarthanhvien {
    width: 28.3%;
    margin-top: 2%;
    border: 2px solid whitesmoke;
    margin-left: 30px;
    margin-right: 10px;
    padding: 4px;
}

.avatargroup,
.cover {
    margin-top: 15px;
    width: 19%;
}

.avatarthanhvien img {
    width: 150px;
    height: 150px;
    border: .5px solid #000;
}

.avatargroup img,
.cover img {
    width: 180px;
    height: 180px;
    border: 1px solid #777;
    margin-left: 1px;
}

.dropdown-menu {
    width: 70%;
    top: 50px;
    position: absolute;
    left: 60%;
}

.dropdown-menu li a {
    text-align: left;
}


/**********************************SETTING*******************************/

.editInfor,
.memberRequest {
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 2px;
    width: 100%;
    position: absolute;
    top: 0%;
}

.editform {
    width: 35%;
    position: relative;
    left: 20%;
}
/*******************************RATING STAR *************************************************/

/*fieldset,
label {
    margin: 0;
    padding: 0;
}

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 2px;
    font-size: 1em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > label {
    color: #ddd;
    float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

/*.rating > input:checked ~ label,*/

/* show gold star when clicked */

/*.rating:not(:checked) > label:hover,*/

/* hover current star */

/*.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}*/


/* hover previous stars in list */

/*.rating > input:checked + label:hover,*/

/* hover current star when changing rating */

/*.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,*/

/* lighten current selection */

/*.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}*/

 fieldset, label { margin: 0; padding: 0; font-size: 14px;}
/*body{ margin: 20px; }*/
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 0.8em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


/***************************************************BUTTON*******************************/

#star {
    color: #FFD700;
}

.button {
    border-radius: 8px;
    color: black;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
}

.buttonRe {
    border-radius: 8px;
}

.list-group {}

.list-group li {
    list-style: none;
}

.list-group li span {
    width: calc(100% - 20px);
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.list-group span {
    width: calc(100% - 20px);
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

/*.nav-pills-vertical {
    width: 16.3%;
    height: 1000px;
}*/
/***************************************************Tạo phần action của bình luận *******************************/

#username {
    font-size: 100%;
}

#content p {
    font-size: 100%;
    padding-left: 1%;
}

#action {
    font-size: 90%;
}

#traloi {
    position: relative;
}

.form-group {
    width: 100%;
    height: 2%;
}

#traloi owner-avatar {
    padding-left: 50%;
}
/*************Phần báo cáo ****************************************/
#Othercomment{
    width:200%;
    height:5%;
}
.radio{
    text-align: left;
    padding-left: 5%;
}
.BT{
    text-align: right;
}

#myModel p1 {
    tab-size: 60px;
}

#themthanhvien {
    color: white;
}

.them {
    font-size: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/************Upload Image Button**************/
.upload-image {
    position: relative;
    top: 0px;
    width: 100%;
}

.btn-file {
    border: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    position: relative;
    width: 100%;
    margin-top: 8%;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    width: 100%;
    right: 0px;
    height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}