@{
    Layout = null;
}
<head>
    <title>Xác nhận Email</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/DangkySlide-Tgdk.css" rel="stylesheet">
    <!-----Sử dụng DangkySlide-tgdk.css------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="thanhbar" style="height: 11%;">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="~/Content/Image/logo.png" alt="Bookaholic.com" style="width:180px; height:40px;margin-top:9%" onclick="window.location.href='@Url.Action("Login", "Account")'">
            </div>
            <div class="dangnhap container-fluid text-left" style="margin-top: 10%">
                <div>
                    <p>
                        Cảm ơn bạn đã xác nhận Email. Bạn có thể @Html.ActionLink("Ấn vào đây để Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </nav>
</body>

