@{
    Layout = null;
}

<head>
    <title>Quên mật khẩu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/DangkySlide-Tgdk.css" rel="stylesheet">
    <!-----Sử dụng DangkySlide-tgdk.css------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="thanhbar" style="height: 11%;">
        <div class="container-fluid">
            <div class="navbar-header">
                <img src="~/Content/Image/logo.png" alt="Bookaholic.com" style="width:180px; height:40px;margin-top:9%" onclick="window.location.href='@Url.Action("Login", "Account")'">
            </div>
        </div>
    </nav>
    <div class="dangnhap container-fluid text-left" style="margin-top: 10%">
        <div>
            <p>
                Vui lòng kiểm tra Email của bạn để đặt lại mật khẩu cho tài khoản.
            </p>
        </div>
    </div>
</body>