@{
    ViewBag.Title = "Địa chỉ không đúng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <br/>
    <h4 class="text-danger" style="text-align:center;">@ViewBag.errorMessage</h4>
</body>